In [244]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score

In [245]:
df= pd.read_csv("C:/Users/DITU/Desktop/Life Expectancy Data.csv")

In [246]:
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [247]:

df=df.drop_duplicates()
df=df.dropna()

In [248]:
df1=df.iloc[:,16:]

In [249]:
df1 = df1.drop(["Population"],axis=1)

In [250]:
df1.describe()

,GDP,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,1649.000000,1649.000000,1649.000000,1649.000000,1649.000000
mean,5566.031887,4.850637,4.907762,0.631551,12.119891
std,11475.900117,4.599228,4.653757,0.183089,2.795388
min,1.681350,0.100000,0.100000,0.000000,4.200000
25%,462.149650,1.600000,1.700000,0.509000,10.300000
50%,1592.572182,3.000000,3.200000,0.673000,12.300000
75%,4718.512910,7.100000,7.100000,0.751000,14.000000
max,119172.741800,27.200000,28.200000,0.936000,20.700000

In [251]:
x = df1
y=df.iloc[:,3]

In [252]:
x

,GDP,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,584.259210,17.2,17.3,0.479,10.1
1,612.696514,17.5,17.5,0.476,10.0
2,631.744976,17.7,17.7,0.470,9.9
3,669.959000,17.9,18.0,0.463,9.8
4,63.537231,18.2,18.2,0.454,9.5
...,...,...,...,...,...
2933,454.366654,9.4,9.4,0.407,9.2
2934,453.351155,9.8,9.9,0.418,9.5
2935,57.348340,1.2,1.3,0.427,10.0
2936,548.587312,1.6,1.7,0.427,9.8
2937,547.358878,11.0,11.2,0.434,9.8

In [253]:
y

0       65.0
1       59.9
2       59.9
3       59.5
4       59.2
        ...
2933    44.3
2934    44.5
2935    44.8
2936    45.3
2937    46.0
Name: Life expectancy , Length: 1649, dtype: float64

In [254]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [255]:
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [256]:
y_predict = model.predict(x_test)

In [257]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test,y_predict)
mse

29.02286772870382

In [258]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test,y_predict)
r2

0.5936567284820835

In [259]:
from sklearn.metrics import mean_absolute_error
mas = mean_absolute_error(y_test,y_predict)
mas

4.062293038204057